.tag {
  font-family: "Source Sans Pro", sans-serif !important;
  padding: 3px;
  margin: 3px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.tag:hover {
  color: rgb(167, 178, 77);
}

.tag.disabled {
  color: HSL(123,1%,84%);
  cursor: default;
}

.tag.disabled:hover {
  color: HSL(123,1%,84%) !important;
  cursor: default;
}

.tag.can-select {
  color: black;
  cursor: pointer;
}

.tag.can-select:hover {
  color: rgb(167, 178, 77);
}

.tag.selected {
  background: rgb(167, 178, 77)!important;;
  color: white !important;
}

.red-clickable {
  color: red;
}

.red-clickable:hover {
  color: #f5c6c6;
}

.green-clickable {
  color: rgba(160, 195, 119, 1);
}

.green-clickable:hover {
  color: rgb(216, 239, 189);
}

.green-disabled {
  color: rgb(216, 239, 189);
  cursor: disabled;
}

.node-selected {
  background: #fdffd9;
}

.black-clickable {
  color: black;
}

.black-clickable:hover {
  color: #a7a3a3;
}

.blue-clickable {
  color: blue;
}

.blue-clickable:hover {
  color: #8f8fff;
}

.blue-disabled {
  color: #8f8fff;
  cursor: disabled;
}

.blue-disabled:hover {
  color: #8f8fff;
  cursor: disabled;
}

.unstyled-link {
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}

.unstyled-link:hover {
  text-decoration: none;
}

.page-inactive {
  cursor: default;
  background: white;
}

.page-inactive:hover {
  cursor: default;
  background: white;
}

.hidden-in-plain-sight {
  color: white !important;
  background: white !important;
}

.almost-hidden-in-plain-sight {
  color: #dedede;
}

.inline-tag:hover {
  color: rgb(167, 178, 77);
}

.inline-tag {
  font-weight: 600;
  color: black;
  padding: 3px;
  border-radius: 5%;
  margin: 6px;
  display: inline-block;
}

.light-gray {
  color: #dddddd;
}

.mik-cut-top {
  padding-top: 0;
  margin-top: 0;
}

.mik-cut-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.mik-cut-left {
  padding-left: 0;
  margin-left: 0;
}

.mik-cut-right {
  padding-right: 0;
  margin-right: 0;
}

.mik-float-left {
  float: left;
}

.mik-float-right {
  float: right;
}

.mik-flush-left {
  text-align: left;
}

.mik-flush-right {
  text-align: right;
}

.mik-flush-center {
  text-align: center;
}

.mik-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mik-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mik-rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.padded-as-button {
  padding-top: 12.8px;
  padding-bottom: 6.4px;
  padding-left: 12.8px;
  padding-right: 12.8px;
}

.margin-as-button {
  margin-top: 12.8px;
  margin-bottom: 6.4px;
  margin-left: 12.8px;
  margin-right: 12.8px;
}